//general html
html {
    background-color: dimgray;
}

//sidebar
.sidebar {
    position: absolute;
    background-color: black;
    color: antiquewhite;
    width: 100px;
    cursor: pointer;
    
}

//ui bootstrap
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

