
<html>
<h1>Bloc Chat <button class="newRoom" type="button" ng-click="home.openModal()">Create New Room</button> </h1>

<div class='sidebar'>
    <div class="roomlist" ng-repeat="room in home.rooms" ng-click="home.setRoom(room)">
        <p>{{ room.$value }} </p>
    </div>
</div>
<div class='roomcontent'>
    <h2 class='currentroom'>{{ home.currentRoom.$value }}</h2>
    <div class="messagewindow" ng-repeat="message in home.messages ">
        <div class="username">{{ message.username}}</div>
        <div class="content">{{ message.content }}</div>
        <div class="sentAt">{{ message.sentAt | date : 'shortTime' }}</div>
    </div>
    <div class="newMessage">
        <input type="text" class="messageInput" id="textfield" placeholder="Type Message Here..." ng-model="home.newMessage.content">
        <button class="sendMessage" ng-click="home.sendMessage()">Send</button>
    </div>
</html>